.Nav {
  border-bottom: 1px solid #eee;
  height: 50px;
}
.flex {
  width: 400px;
  display: flex;
  margin: 0 auto;
}
ul {
  width: 200px;
  display: flex;
  margin: 20px auto;
}
li {
  list-style: none;
  margin: 0 5px;
}
div {
  width: 600px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}
button {
  width: 200px;
  margin: 0 auto;
}
.li_1 {
  color: green;
}
.li_3 {
  color: green;
}
.li_4 {
  color: green;
}
.li_2 {
  color: #551a81;
}
